@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Entities.Concrete.Deneme>

@{ ViewData["Title"] = "Telefon Rehberi"; }




<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Telefon Rehberi</h3>

            </div>
            <!-- /.card-header -->
            <div class=" table-responsive ">
                <table class="table table-hover table-sm table-bordered" style="width:1107px">
                    <thead>
                    <tr>
                        <th style="width:300px">
                            Adı Soyadı
                        </th>
                        <th style="width:300px">
                            Adres
                        </th>
                        <th style="width:180px">
                            Telefon Numarası
                        </th>
                        <th style="width:160px">
                            Fax Numarası
                        </th>
                        <th style="width:170px">
                            Dahili Numara
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:300px">
                                <div class="row">
                                    <div class="col-md-4" >
                                        <img src="~/pictures/@item.PhotoUrl" id="kullaniciresim" style="width: 105px; height: 100px;" />
                                    </div>
                                    <div class="col-md-8">
                                        
                                        <div class="col-md-12 mt-2" >
                                            <strong style="font-size: 21px; font:bolder">@item.FirstName @item.LastName.ToUpper()</strong>
                                            <br />
                                            <small>@item.Title</small>
                                            <br />
                                            <small>@item.Email</small>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="width:300px">

                                @*@Html.DisplayFor(modelItem => item.AddressId)*@
                                @Html.DisplayFor(modelItem => item.Mahalle) Mahallesi

                                @if (@item.Cadde != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Cadde)
                                    <small> Caddesi</small>}

                                @Html.DisplayFor(modelItem => item.Sokak) Sokağı
                                No: @Html.DisplayFor(modelItem => item.BinaNo)
                                @Html.DisplayFor(modelItem => item.İlce)/
                                @Html.DisplayFor(modelItem => item.İl)
                                Posta kodu: @Html.DisplayFor(modelItem => item.PostaKodu)

                            </td>
                            <td style="width:180px">
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td style="width: 160px;">
                                <strong style="background-color: darkblue; color: white">
                                    <strong class="ml-1 mt-2 mr-1">
                                        @Html.DisplayFor(modelItem => item.Fax)
                                    </strong>
                                </strong>
                                
                            </td>
                            <td style="width:170px">
                                @Html.DisplayFor(modelItem => item.InternalNumber)
                            </td>

                        </tr>}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>