@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Entities.Concrete.TelephoneDirectories

@{
    ViewData["Title"] = "Kişi bilgileri işlemi";
}


<h3 style="font-weight:bold">Bu kişiyi silmek istediğinizden emin misiniz ?</h3>

<div style="margin-left:25px">
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Rol Id
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            Ad
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            Soyad
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3">
            Ünvan
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3">
            Email
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            Resim
        </dt>
        <dd class="col-sm-8">
            <a href="~/pictures/@Html.DisplayFor(model => model.PhotoUrl)" target="_blank">
                <img src="~/pictures/@Html.DisplayFor(model => model.PhotoUrl)" style="width: 150px; height: 150px;" />
            </a>
        </dd>
        <dt class="col-sm-3">
            Telefon Numarası
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-3">
            Fax Numarası
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Fax) &nbsp;
        </dd>
        <dt class="col-sm-3">
            Dahili Numara
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.InternalNumber)
        </dd>
    </dl>


    <form asp-action="Delete">
        <div class="form-actions no-color">
            <a asp-action="Index" class="btn btn-outline-warning mb-2 ml-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-btn-fill" viewBox="0 0 16 16">
                    <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.21-6.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407z" />
                </svg> Geri Dön
            </a>
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-default  col-sm-2" style="margin-left:98px;border: 2px solid red;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-x-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm9.261 1.135a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
            </svg>&nbsp; Sil</button>
        </div>
    </form>
</div>